/* General rules */
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
    
}
ul {
    list-style: none;
}

/* Navigation bar */
.navigateStyle {
    font-style: bold;
     
}
/* Banner */
.banner {
    background-image: url("../images/coverHidden.jpg");
    background-size: cover;
    height: 800px;
    /* position: relative; */
}
.caption {
    display: block;
    font-style: bold;
    line-height: 14px;
    margin-left: 20px;
    padding: 10px;
    position: relative;
    top: 40%;
    width: 60%;
    /* background-color: white; */
    color: white;
}

.bannerParis {
    background-image: url("../images/paris-hidden3.jpg");
    background-size: cover;
    height: 800px;
    /* position: relative; */
}